<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Wishlist</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="wls" layout="row" data-ng-controller="NavigationController as nav">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')" >
    <md-toolbar class="md-whiteframe-z1" layout="row">
      <md-icon md-svg-icon="svg-11" class="avatar" ></md-icon> <h2>Hello</h2>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="menuItem in nav.menuItems">
          <md-button ng-click="nav.selectMenuItem(menuItem)" ng-class="{'selected' : menuItem === nav.selected }">
            {{menuItem}}
          </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button class="menu" hide-gt-sm ng-click="nav.toggleList()" aria-label="{{nav.selected}}">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>{{nav.selected}}</h1>
    </md-toolbar>

    <div data-ng-controller="WishController as wc">
    <md-content layout="row" layout-wrap >
      <md-card data-ng-repeat="w in wc.wishes">
       <img ng-src="{{w.image}}" class="md-card-image" alt="image caption">
       <md-card-content>
         <h2>{{w.name}}</h2>
       </md-card-content>
         <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button md-accent" aria-label="Favorite">
            <md-icon md-svg-icon="unfavorite"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="more"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-content>
    <div style="position: fixed; right: 32px; bottom: 32px">
      <md-button ng-click ="wc.add()" aria-label="Add..." class="md-fab md-warn"><md-icon md-svg-icon="add" ></md-icon></md-button>
    </div>
    </div>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script type="text/javascript" >
      angular
        .module('wls', ['ngMaterial', 'wishes'])
        .config(function($mdThemingProvider, $mdIconProvider){
          $mdIconProvider
          .defaultIconSet("./assets/svg/avatars.svg", 128)
          .icon("menu"       , "./assets/svg/menu.svg"                       , 24)
          .icon("favorite"   , "./assets/svg/ic_favorite_24px.svg"           , 24)
          .icon("unfavorite" , "./assets/svg/ic_favorite_border_24px.svg"    , 24)          
          .icon("add"        , "./assets/svg/ic_add_24px.svg"                , 24)
          .icon("more"       , "./assets/svg/more_vert.svg"                  , 24);
          
          $mdThemingProvider.theme('default')
          .primaryPalette('blue')
          .accentPalette('red');
        });
      </script>

    <script src="./src/core/NavigationController.js"></script>
    <script src="./src/wishes/Wishes.js"></script>
    <script src="./src/wishes/WishController.js"></script>
    <script src="./src/wishes/WishService.js"></script>


  </body>
</html>
